{% extends "base.html" %}

{% block content %}
    <link href={{ url_for('static', filename='css/register.css') }} rel="stylesheet">
                                                             
    {% include "errors.html" %}

    <form class="form-signin" method="post" action="/register">
        {{ form.username(class="form-control", placeholder="Username") }}
        {{ form.email(class="form-control", placeholder="EMail") }}
        {{ form.password(class="form-control", placeholder="Password") }}
        {{ form.conf_password(class="form-control", placeholder="Confirm Password") }}
        {{ form.recaptcha() }}
        <div>{{ form.submit(class="btn btn-lg btn-primary btn-block") }} </div> 
    </form>
{% endblock %}
