{% extends "base.html" %}

{% block content %}
    <link href={{ url_for('static', filename='css/login.css') }} rel="stylesheet">
    {% if form.errors %}
        <ul class="errors">
            {% for field_name, field_errors in form.errors|dictsort if 
field_errors %}
                {% for error in field_errors %}
                    <li>{{ form[field_name].label }}: {{ error }}</li>
                {% endfor %}
            {% endfor %}
        </ul>
    {% endif %}

    <form class="form-signin" method="post" action="/login">
        {{ form.username(class='form-control') }}
        {{ form.password(class='form-control') }}
        <div>{{ form.submit(class="ben btn-lg btn-primary btn-block") }} </div> 
    </form>
{% endblock %}
